<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Bot-Bot by Imaginea</title>

    <link rel="stylesheet" href="../stylesheets/styles.css">
    <link rel="stylesheet" href="../stylesheets/pygment_trac.css">
    <script src="../javascripts/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
   <div class="wrap">
     <div id='header'>
<span class="header1"><a href="https://github.com/Imaginea/bot-bot">Bot-Bot</a></span><span class="header2"> by <a href="https://github.com/Imaginea">Imaginea</a></br>Selenium like automation framework for native android applications.</span>
<a href="https://github.com/Imaginea/bot-bot"  target="_blank"><img class="fork" src="../images/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
      </div>
<div class="main-content">
    <div class="leftnav">
	<ol >
	  <li><a href ="index.html" >Home</a></li>
	  <li><a href ="features.html" >Features</a></li>
          <li><a href ="server.html" >Server</a>
		<ol>
		<li><a href ="server_installation.html" >Installation</a></li>
		<li><a href ="server_usage.html" >Usage</a></li>
		</ol>
	  </li>
<li><a href ="recorder.html" >Recorder</a>
		<ol>
		<li><a href ="recorder_installation.html" >Installation</a></li>
		<li><a href ="recorder_usage.html" >Usage</a></li>
		</ol>
</li>
	  {% for p in site.pages %}
      <li>
        <a href="{{ p.url }}">
          {{ p.heading }}
        </a>
      </li>
  {% endfor %}
	<ol>
    </div>
    <div class="main-content-ctr">
      <header>
	<h1 id='{{ page.title | downcase | replace(' ', '_') }}'>{{ page.heading }}</h1>
	<p/>
        <p class="view"><a href="https://github.com/Imaginea/bot-bot">View the Project on GitHub <small>menonvarun/site</small></a></p>
        <ul>
          <li><a href="https://github.com/downloads/Imaginea/bot-bot/bot-bot-v0.7.zip" target="_blank">Download <strong>Latest</strong></a></li>
          <li><a href="https://github.com/Imaginea/bot-bot" target="_blank">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <div id='content'>
        {{ content }}
      </div>
      </section>
    </div>
</div>
    <footer>
      <p>Project maintained by <a href="https://github.com/menonvarun">menonvarun</a></p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><!--<![endif]-->
   </div> 
  </body>
</html>
